SUSHY_EMULATOR_LISTEN_IP = u'${IP}'
SUSHY_EMULATOR_LISTEN_PORT = 443
SUSHY_EMULATOR_SSL_CERT = u'${CERTIFICATE_FILE}'
SUSHY_EMULATOR_SSL_KEY = u'${KEY_FILE}'
SUSHY_EMULATOR_LIBVIRT_URI = u'qemu:///system'
SUSHY_EMULATOR_AUTH_FILE = u'/opt/config/htpasswd'
SUSHY_EMULATOR_ALLOWED_INSTANCES = [
    "$NODE_UUID"
]
SUSHY_EMULATOR_SECURE_BOOT_ENABLED_NVRAM = u'/var/lib/libvirt/qemu/nvram/${HOSTNAME}_VARS.fd'
