argparse==1.4.0
bcrypt==4.1.2
certifi==2023.11.17
cffi==1.16.0
chardet==3.0.4
charset-normalizer==2.0.7
cryptography==41.0.7
debtcollector==2.5.0
dnspython==2.1.0
eventlet==0.33.0
fasteners==0.19
fixtures==4.1.0
futurist==2.4.0
greenlet==3.0.3
idna==2.5
ifaddr==0.2.0
ironic-lib==5.2.0
ironic-python-agent==9.8.0
iso8601==2.1.0
linecache2==1.0.0
MarkupSafe==2.1.4
msgpack==1.0.7
netaddr==0.10.1
netifaces==0.11.0
oslo.concurrency==4.5.0
oslo.config==8.8.0
oslo.context==4.1.0
oslo.i18n==5.1.0
oslo.log==4.7.0
oslo.serialization==4.3.0
oslo.service==2.8.0
oslo.utils==4.12.2
packaging==20.9
Paste==3.5.0
PasteDeploy==2.1.1
pbr==6.0.0
Pint==0.23
psutil==5.9.8
pycparser==2.21
pyinotify==0.9.6
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2023.3.post1
pyudev==0.24.1
PyYAML==6.0.1
repoze.lru==0.7
requests==2.26.0
rfc3986==2.0.0
Routes==2.5.1
setuptools-scm==6.4.2
six==1.16.0
stevedore==3.5.0
tenacity==8.0.1
tomli==1.2.2
tooz==2.11.0
traceback2==1.4.0
typing_extensions==4.9.0
unittest2==1.1.0
urllib3==1.26.18
voluptuous==0.13.1
WebOb==1.8.7
Werkzeug==3.0.1
wrapt==1.16.0
yappi==1.6.0
zeroconf==0.131.0
setuptools==69.0.3
wheel
